<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJTagView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0EE2E01D9A25FB00A3FC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0EE2F91D9A25FB00A3FC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0EE3041D9A25FB00A3FC87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
